@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 300%;
    height: 1000px;
    /* border: 1px solid orange; */
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
    background: #fff;
}

h1 {
    float: left;
    line-height: 100px;
    margin-left: 22px;
}

h1 a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 40px;
}

.menu_img {
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 90px;
    height: 85px;
    float: left;
    margin: 7px 0 0 20px;
}

.menu_img a {
    width: 90px;
    height: 85px;
    border-radius: 50%;
    /* border: 1px solid red; */
    display: inline-block;
}
#menu_img1 {
    background: url(001.jpg);
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover;
    position: absolute;
    left: 28%;
    top: 1%;
}

#menu_img1:hover {
     /* border-bottom: 1px solid red; */
}

#menu_img2 {
    background: url(004.jpg);
    background-repeat: no-repeat;
    background-position: -10% 20%;
    background-size: cover;
    position: absolute;
    left: 38%;
    top: 1%;
}

#menu_img3 {
    background: url(005.jpg);
    background-repeat: no-repeat;
    background-position: 60% 20%;
    background-size: cover;
    position: absolute;
    left: 48%;
    top: 1%;
}

#menu_img4 {
    background: url(006.jpg);
    background-repeat: no-repeat;
    background-position: 20% 20%;
    background-size: cover;
    position: absolute;
    left: 58%;
    top: 1%;
}

input {
    float: right;
    margin: 60px 160px 0 0;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    font-size: 12px;
    width: 350px;
    height: 30px;
    text-align: center;
}

.fa-search {
    position: absolute;
    left: 71.5%;
    top: 66%;
    /* border: 1px solid green; */
    font-size: 20px;
}

a .fa-search {
    text-decoration: none;
    color: #000;
}

#section_menu {
    width: 5750px;
    height: 820px;
    /* border: 1px solid red; */
    background: url(01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: -168px;
}

#box1 {
    /* border: 1px solid red; */
    width: 300px;
    height: 200px;
    background: url(009.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    position: absolute;
    top: 130px;
    left: 38%;
    display: none;
}

#box1::before {
    content: "";
    display: inline-block;
    clear: both;
    border: 2px solid gold;
    width: 345px;
    position: absolute;
    left: -330px;
    top: 165px;
    transform: rotate(-26deg);
}

.fa-crosshairs:hover ~ #box1 {
    display: block;
}

.fa-crosshairs {
    position: absolute;
    top: 41%;
    left: 20%;
    font-size: 30px;
    color: #000;
}

.fa-crosshairs:hover {
    color: gold;
}

#section_menu_box {
    width: 100%;
    height: 300px;
    /* border: 1px solid blue; */
    position: fixed;
    left: 0;
    bottom: 0;
}

#section_menu1 {
    width: 250px;
    height: 300px;
    /* border: 1px solid gray; */
    background: url(003.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: 150px;
    transition: 0.5s;
    position: absolute;
    bottom: 0px;
}

#section_menu1:hover {
    border: 10px solid gold;
}

#section_menu2 {
    width: 250px;
    height: 300px;
    /* border: 1px solid gray; */
    background: url(002.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    position: absolute;
    left: 600px;
    bottom: 0px;
    transition: 0.5s;
}

#section_menu2:hover {
    border: 10px solid gold;
}

#section_menu3 {
    width: 250px;
    height: 300px;
    /* border: 1px solid gray; */
    background: url(007.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    position: absolute;
    left: 1050px;
    bottom: 0PX;
    transition: 0.5s;
}

#section_menu3:hover {
    border: 10px solid gold;
}

#section_menu4 {
    width: 250px;
    height: 300px;
    /* border: 1px solid gray; */
    background: url(008.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 1500px;
    bottom: 0PX;
    transition: 0.5s;
}

#section_menu4:hover {
    border: 10px solid gold;
}



